* {
  box-sizing: border-box;
}

.react-flow {
  --xy-background-color-default: #F5F5F5;
  --header-height: 64px;
}

.react-flow-container {
  --xy-background-color-default: #F5F5F5;
  --header-height: 64px;
  height: calc(100vh - (var(--header-height) + 10px));
}

.header {
  height: var(--header-height);
  background: #fff;
  border: 1px solid #E5E5E5;
  padding: 1rem;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.logo {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 600;
  color: #0A0A0A;
}

.button {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #fff;
  background: #A500DD;
  width: 121px;
  height: 36px;
  gap: 8px;
  border-radius: 8px;
  padding: 8px 16px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.canvas {
  background: #F5F5F5;
}


.custom-node {
  max-width: 295px;
  background: #fff;
  border: 1px solid #E5E5E5;
  border-radius: 14px;
  color: #171717;

  & .custom-node__label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 600;
    padding: 0.75rem;
    border-bottom: 1px solid #E5E5E5;
  }

  & .custom-node__content {
    font-size: 14px;
    padding: 0.75rem 0.75rem 1.2rem;
    color: #0A0A0A;
  }
}